@model FYP.Models.City

@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <span style="display:inline-block;">
            <img src="@Url.Content(Model.GeneralPicture)" width="1100" height="550" />
        </span>
        <br /><br />

        <div class="container text-center">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            <h2><a asp-controller="Home" asp-action="CountryProfile" asp-route-id="@Model.Country.CountryId">@Html.DisplayFor(model => model.Country.Name)</a></h2> <br />
        </div>

        <br />
        <div style="display:flex;">
            <div style="flex:1;">
                <h2>General</h2>
                <ul>
                    <li><b>Population:</b> @Html.DisplayFor(model => model.Population)</li>
                    <li><b>Quality of Life Index:</b> @Html.DisplayFor(model => model.QualityOfLifeIndex)</li>
                    <li><b>Number of Universities:</b> @Html.DisplayFor(model => model.NoOfUniversities)</li>
                </ul>


            </div>
            <div style="flex:1;">
                <h2>Costs</h2>
                <ul>
                    <li><b>Cost of Living Index: </b>@Html.DisplayFor(model => model.CostOfLivingIndex) </li>
                    <li><b>Rent Index: </b>@Html.DisplayFor(model => model.RentIndex)</li>
                    <li><b>Purchasing Power Index:</b> @Html.DisplayFor(model => model.PurchasingPowerIndex)</li>
                </ul>
            </div>

            <div style="flex:1;">
                <h2>Transportation</h2>
                <ul>
                    <li><b>Traffic Rate:</b> @Html.DisplayFor(model => model.TrafficRate)%</li>
                    <li><b>Number of Airports:</b> @Html.DisplayFor(model => model.NoOfAirports)</li>
                    <li><b>Number of Light Rail Lines:</b> @Html.DisplayFor(model => model.LightRailLines)</li>
                </ul>
            </div>
        </div>

        <br /><br />

        <h2>Climate</h2>
        <p>
            <b> Climate Type:</b> @Html.DisplayFor(model => model.ClimateType)<br /><br />
            <div class="align-items-center justify-content-center" style="display:flex">
                <img src="@Url.Content(Model.ClimateImage)" width="650" height="350" />
            </div> <br /><br />
            @Html.DisplayFor(model => model.ClimateDescription)
        </p>
        <br />
    </div>