@model FYP.Models.CompareViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container text-center">
        <!--<button class="btn btn-primary" name="btnCities" onclick="viewCitiesCategories()">Cities</button>
        <button class="btn btn-primary" name="btnCountries" onclick="viewCountriesCategories()">Countries</button>-->

        <div class="container text-center" id="compareCountries">
                <h2>Select cities to compare</h2>
                <form method="post" asp-controller="Home" asp-action="Compare">
                    <select id="cityA" asp-for="cityA.CityId" asp-items="@(new SelectList(ViewBag.message,"CityId","Name"))">
                    </select>

                    <select id="cityB" asp-for="cityB.CityId" asp-items="@(new SelectList(ViewBag.message,"CityId","Name"))">
                    </select>
                    <br /> <br />
                    <button class="btn btn-primary">Compare</button>
                </form>
        </div>

        @if (Model != null)
        {
        <div class="container text-center"  id="showA">
            <div style="float:left;">
                <h3 id="aName">@Model.cityA.Name</h3><br />
                <h5>General</h5>
                <ul style="list-style: none;">
                    <li>Population: @Model.cityA.Population </li>
                    <li>Quality of Life Index: @Model.cityA.QualityOfLifeIndex </li>
                    <li>Climate Type: @Model.cityA.ClimateType</li>
                    <li>Safety Index: @Model.cityA.SafetyIndex</li>
                    <li>Pollution Index: @Model.cityA.PollutionIndex</li>
                </ul> 
                <h5>Cost</h5>
                <ul style="list-style: none;">
                    <li>Cost of Living Index: @Model.cityA.CostOfLivingIndex</li>
                    <li>Rent Index: @Model.cityA.RentIndex</li>
                    <li>Purchasing Power Index: @Model.cityA.PurchasingPowerIndex</li>
                </ul>
                <h5>Transport</h5>
                <ul style="list-style: none;">
                    <li>Traffic Rate:@Model.cityA.TrafficRate</li>
                    <li>Number of light rail lines: @Model.cityA.LightRailLines</li>
                    <li>Number of Airports: @Model.cityA.NoOfAirports</li>
                </ul>
                
            </div>
            <div style="float:right;">
                <h3 id="bName">@Model.cityB.Name</h3> <br>
                <h5>General</h5>
                <ul style="list-style: none;">
                    <li>Population: @Model.cityB.Population</li>
                    <li>Quality of Life Index: @Model.cityB.QualityOfLifeIndex</li>
                    <li>Climate Type: @Model.cityB.ClimateType</li>
                    <li>Safety Index:@Model.cityB.SafetyIndex </li>
                    <li>Pollution Index: @Model.cityB.PollutionIndex</li>
                </ul>
                <h5>Cost</h5>
                <ul style="list-style: none;">
                    <li>Cost of Living Index: @Model.cityB.CostOfLivingIndex </li>
                    <li>Rent Index: @Model.cityB.RentIndex</li>
                    <li>Purchasing Power Index: @Model.cityB.PurchasingPowerIndex</li>
                </ul>
                <h5>Transport</h5>
                <ul style="list-style: none;">
                    <li>Traffic Rate: @Model.cityB.TrafficRate</li>
                    <li>Number of light rail lines: @Model.cityB.LightRailLines</li>
                    <li>Number of Airports: @Model.cityB.NoOfAirports</li>
                </ul>
            </div>
        </div>

        }
    </div>

