@model FYP.Models.City

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralPicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralPicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualityOfLifeIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualityOfLifeIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfLivingIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfLivingIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasingPowerIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasingPowerIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClimateType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClimateType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClimateImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClimateImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClimateDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClimateDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrafficRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrafficRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LightRailLines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LightRailLines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfAirports)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfAirports)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfUniversities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfUniversities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SafetyIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SafetyIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PollutionIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PollutionIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
