@model IEnumerable<FYP.Models.City>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneralPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityOfLifeIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostOfLivingIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasingPowerIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClimateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClimateImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClimateDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightRailLines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfAirports)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfUniversities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollutionIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualityOfLifeIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostOfLivingIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasingPowerIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrafficRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightRailLines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfAirports)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfUniversities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollutionIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
