@model IEnumerable<FYP.Models.Cities>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<button class="btn-primary align-content-lg-center">
    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Return to User View</a>
</button>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostOfLivingIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClimateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfUniversities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfAirports)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LightRailLines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomicideRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorporationTax)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostOfLivingIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClimateType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfUniversities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfAirports)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LightRailLines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrafficRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomicideRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationTax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
